<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ARtest.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E1F24AC53E2310A0AA211A6E60AC882FAA833580</string>
				<key>dateExpires</key>
				<string>22.09.21</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1F24AC53E2310A0AA211A6E60AC882FAA833580</string>
						<key>dateExpires</key>
						<string>22.09.21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UnityFramework.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QFZ4FZ7N4A</string>
						<key>name</key>
						<string>Jan-Niklas Voigt-Antons</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QFZ4FZ7N4A.de.voigt-antons.ARtest</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>QFZ4FZ7N4A</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>QFZ4FZ7N4A.de.voigt-antons.ARtest</string>
				</array>
			</dict>
			<key>name</key>
			<string>ARtest.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>83645420-c2d2-4049-b9b6-ad71e61a384c</string>
				<key>name</key>
				<string>ARtest_Distribution_2020_09_22_1</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QFZ4FZ7N4A</string>
				<key>name</key>
				<string>Jan-Niklas Voigt-Antons</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
